*.zip
*fp-info-cache
*.lck


 Microsoft Office temporary files
~$*
*.tmp
*.temp

# Excel temporary/autorecovery files
*.xlk
*.xls~
*.xlsx~
*.xlsm~
*.xlsb~

# Word temporary/autorecovery files
*.wbk
*.asd
*.doc~
*.docx~

# PowerPoint temporary/autorecovery files
*.ppt~
*.pptx~

# macOS metadata files, if applicable
.DS_Store
.AppleDouble
.LSOverride